/* global */
body {
  margin: 0px;
  cursor: default;
  font-family: "Open Sans", sans-serif;

  /* color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #4d4d4d;
  --color-dark-grey: #616161;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-migro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 7px;
}

/* Universal tags*/
* {
  box-sizing: border-box;
}

/* Typography 웹사이트 전반적인 헤딩 */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-mediun);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
/* navbar */
#navbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-pink);
  color: var(--color-white);
  padding: 0px 16px;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__logo {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 140px;
}

.favicon {
  width: 30px;
  height: 30px;
  line-height: 100px;
  margin-right: 20px;
}

.navbar__name {
  text-decoration: none;
  color: var(--color-white);
  font-size: var(--font-large);
}
.navbar__munu {
  display: inline-block;
  display: flex;
  margin-right: 0px;
}

.navbar__menu_item {
  list-style: none;
  padding: 7px;
  margin-right: 30px;
}

.navbar__menu_item:hover {
  cursor: pointer;
  background-color: var(--color-dark-pink);
  border-radius: var(--size-border-radius);
}

.navbar__menu_item.active {
  border: 1px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

/* home */

#home {
  background: url("images/homebackground.png") center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home__profile {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.description {
  color: var(--color-white);
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  margin: 24px;
  padding: 8px 12px;
  color: var(--color-white);
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}
