/* global */
body {
  margin: 0px;
  cursor: default;
  font-family: "Open Sans", sans-serif;

  /* color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #4d4d4d;
  --color-dark-grey: #616161;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 43px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-migro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 7px;

  /* annimation */
  --annimation-duration: 300ms;
}

/* Universal tags*/
* {
  box-sizing: border-box;
}

/* Typography 웹사이트 전반적인 헤딩 */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

li {
  list-style: none;
}

section {
  padding: 50px;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-dark-pink);
}

/* navbar */

.navbar__container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  max-width: 1200px;
}

.navbar {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  position: fixed;
  color: var(--color-white);
  background-color: transparent;
  padding: 0px 16px;
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
}

.navbar.navbar--dark {
  background-color: var(--color-pink);
  transition: all var(--annimation-duration) ease-in-out;
  z-index: 1;
}

.navbar__logo {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 140px;
}

.favicon {
  width: 30px;
  height: 30px;
  line-height: 100px;
  margin-right: 20px;
}

.navbar__name {
  text-decoration: none;
  color: var(--color-white);
  font-size: var(--font-large);
}
.navbar__munu {
  display: flex;
  margin-right: 0px;
  padding: 0px;
  align-items: center;
}

.navbar__menu_item {
  padding: 5px;
  margin-right: 30px;
}

.navbar__menu_item:hover {
  cursor: pointer;
  background-color: var(--color-dark-pink);
  border-radius: var(--size-border-radius);
}

.navbar__menu_item.active {
  border: 1px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.navbar__toggleButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: var(--color-white);
  /* opacity: 0; 마우스가 올라가면 클릭이 되기 때문에 display: none;을 이용하는게 좋다. */
  display: none;
}

/* home */

#home {
  background: url("images/homebackground.png") center/cover no-repeat;
  padding: 90px;
  text-align: center;
}

.home__profile {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.description {
  color: var(--color-white);
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  margin: 24px;
  padding: 8px 12px;
  color: var(--color-white);
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

/* about */

.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0px;
}

.major__icon {
  margin: auto;
  font-size: 70px;
  width: 150px;
  height: 150px;
  border: 2px solid var(--color-blue);
  color: var(--color-blue);
  border-radius: 50%;
  justify-content: center;
  line-height: 150px;
  text-align: center;
  margin-bottom: 16px;
}

.major__icon:hover i {
  color: var(--color-dark-grey);
  transform: rotate(-10deg) scale(1.2);
  transition: all 300ms ease;
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__title {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
}

.about__job {
  display: flex;
  color: var(--color-dark-grey);
}

.job__description {
  display: inline-block;
}

.job_logo {
  font-size: 30px;
}

.job__name {
  width: 900px;
  margin-left: 20px;
  text-align: left;
  font-size: var(--font-small);
}
.job__period {
  margin-left: 20px;
  text-align: left;
  height: 33px;
  width: 200px;
  font-size: var(--font-migro);
}

/* skills */

.skills-background {
  background-color: var(--color-yellow);
}

.skillset {
  width: 1200xp;
  height: 400px;
  background-color: var(--color-dark-grey);
  z-index: 1;
  opacity: 0.7;
  display: flex;
  color: var(--color-white);
}

.skillset__left {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  background-color: var(--color-black);
  text-align: left;
  padding: 25px 55px;
}

.skill_description {
  display: flex;
  justify-content: space-between;
}

.skillset__title {
  font-size: var(--font-medium);
}

.skillset__right {
  background-color: var(--color-dark-white);
  flex-basis: 40%;
  text-align: left;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-dark-grey);
  margin: 3px 0px 19px 0px;
}

.skill_value {
  height: 3px;
  background-color: var(--color-orange);
}

.tools {
  background-color: var(--color-dark-grey);
  padding: 25px 25px;
  height: 57%;
}

.etc {
  padding: 25px 25px;
  height: 43%;
}
.skillset__title {
  text-align: center;
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
  margin: 0px 0px 20px 0px;
}

.tools_list {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.work__categories {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.category__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 175px;
  height: 30px;
  color: var(--color-dark-grey);
  border: 2px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-migro);
  margin: 10px 4px;
  padding: 0px;
}

.category__btn__d {
  margin-left: 20px;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-dark-pink);
}

.category__btn:hover .category__count,
.category__btn.active .category__count {
  opacity: 1;
  top: 0;
}
.category__count {
  display: inline-block;
  line-height: 18px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 20px;
  background-color: var(--color-light-white);
  position: relative;
  top: -20px;
  opacity: 0;
  transition: all var(--annimation-duration) ease;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  width: 250px;
  height: 310px;
  margin: 10px 10px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--color-light-white);
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  background-color: black;
  color: var(--color-dark-white);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0%;
  left: 0%;
  opacity: 0;
  transition: all var(--annimation-duration) ease;
  transform: translateY(10px);
}

.project__description:hover {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  margin: 8px 0px 3px -50px;
  width: 100px;
  height: 2px;
  background-color: var(--color-dark-white);
}

.project h3 {
  color: var(--color-dark-white);
}

.testimonials__container {
  background-color: var(--color-light-white);
}

.testimonials {
  margin-top: 20px;
}
.testimonial {
  display: flex;
  align-items: center;
  font-size: var(--font-migro);
  margin: 10px;
}

.testimonial_people {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonial_people:nth-child(odd) {
  margin-right: 40px;
}

.testimonial_people:nth-child(even) {
  margin-left: 40px;
}
.testimonial__speech-bubble {
  background-color: #fff;
  border-radius: var(--size-border-radius);
  color: var(--color-dark-grey);
}

.contact__container {
  background-color: var(--color-pink);
}
#contact {
  padding: 30px;
}

.contact__email,
.contact__links a,
.contact__rights {
  color: var(--color-white);
  margin: 0px;
}

.contact__links i {
  margin: 5px 3px;
}

.contact__links i:hover {
  transform: scale(1.3);
  transition: all 200ms ease;
  color: var(--color-dark-white);
}

.contact__title {
  margin: 30px;
  color: var(--color-white);
}

.contact__rights {
  font-size: var(--font-migro);
}

@media screen and (max-width: 768px) {
  .navbar__toggleButton {
    display: block;
  }

  .navbar {
    display: block;
    height: 300px;
  }
  .navbar__container {
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
  }

  .navbar__munu {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .navbar__menu_item {
    margin: 0px;
    width: 80%;
  }

  .navbar__menu_item:hover {
    margin: 0px;
    width: 80%;
    background-color: var(--color-dark-pink);
  }

  .about__majors {
    display: flex;
    flex-direction: column;
  }

  .major {
    margin-bottom: 30px;
  }

  .project {
    flex-grow: 1;
  }

  .testimonial_people {
    width: 80px;
    height: 80px;
  }
}
